<html>
  <body>
    <article class="cssui-usercard">
      <div class="cssui-usercard__body">
        <!--Header-->
        <header class="cssui-usercard__header">
          <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/11_avatar-512.png" class="cssui-usercard__avatar" alt="Avatar">
          <div class="cssui-usercard__header-info">
            <h3 class="cssui-usercard__name">{{Name}}</h3>
            <span class="cssui-usercard__post">CRM Manager</span>
          </div>
        </header>
    
    
        <div class="cssui-usercard__content">
          <div class="cssui-slider">
            <!-- the control elements of slider -->
            <input id="slide1" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls" checked autofocus>
            <label for="slide1" class="cssui-slider__control cssui-usercard__control"></label>
            <input id="slide2" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls">
            <label for="slide2" class="cssui-slider__control cssui-usercard__control"></label>
    
            <div class="cssui-slider__slides">
    
              <!-- first slide -->
    
              <div class="cssui-slider__slide">
              
                <div class="cssui-usercard__stats">
                  <div class="cssui-stats cssui-usercard__stats-item">
                    <div class="cssui-stats__info cssui-usercard__stats-info">
                      <span class="cssui-stats__name cssui-usercard__stats-name">Name</span>
                      <span class="cssui-stats__value">{{Name}}</span>
                    </div>
                  </div>
    
                  <div class="cssui-stats cssui-usercard__stats-item">
                    <div class="cssui-stats__info cssui-usercard__stats-info">
                      <span class="cssui-stats__name cssui-usercard__stats-name">City</span>
                      <span class="cssui-stats__value">{{City}}</span>
                    </div>
                  </div>
    
                  <div class="cssui-stats cssui-usercard__stats-item">
                    <div class="cssui-stats__info cssui-usercard__stats-info">
                      <span class="cssui-stats__name cssui-usercard__stats-name">Postal Code</span>
                      <span class="cssui-stats__value">{{Postal}}</span>
                    </div>
                  </div>
    
                  <div class="cssui-stats cssui-usercard__stats-item">
                   
                    <div class="cssui-stats__info cssui-usercard__stats-info">
                      <span class="cssui-stats__name cssui-usercard__stats-name">Region</span>
                      <span class="cssui-stats__value">{{Region}}</span>
                    </div>
                  </div>
    
                </div>
              </div>
    
    
              <div class="cssui-slider__slide">
              
                <div class="cssui-usercard__stats">
                  <div class="cssui-stats cssui-usercard__stats-item">
                    <div class="cssui-stats__info cssui-usercard__stats-info">
                      <span class="cssui-stats__name cssui-usercard__stats-name">Street</span>
                      <a href="#0" class="cssui-stats__value">{{Street}}</a>
                    </div>
                  </div>
                  <div class="cssui-stats cssui-usercard__stats-item">
                    <div class="cssui-stats__info cssui-usercard__stats-info">
                      <span class="cssui-stats__name cssui-usercard__stats-name">Phone</span>
                      <a href="tel:79000000000" class="cssui-stats__value">{{Phone}}</a>
                    </div>
                  </div>
                  <div class="cssui-stats cssui-usercard__stats-item">
                   
                    <div class="cssui-stats__info cssui-usercard__stats-info">
                      <span class="cssui-stats__name cssui-usercard__stats-name">WhatsApp</span>
                      <span class="cssui-stats__value">{{Phone}}</span>
                    </div>
                  </div>
                  <div class="cssui-stats cssui-usercard__stats-item">
          
                    <div class="cssui-stats__info cssui-usercard__stats-info">
                      <span class="cssui-stats__name cssui-usercard__stats-name">Skype</span>
                      <span class="cssui-stats__value">{{Name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

  </body>
</html>







<!--<label  class="text"><b>NAME:</b>{{Name}}</label><br>
  <label class="text" ><b>CITY:</b>{{City}}</label><br>
  <label class="text" ><b>POSTAL CODE:</b>{{Postal}}</label><br>
  <label class="text" ><b>REGION:</b>{{Region}}</label><br>
  <label class="text" ><b>PHONE NUMBER:</b>{{Phone}}</label><br>
  <label class="text" ><b>COUNTRY:</b>{{Country}}</label><br>
  <label class="text" ><b>STREET:</b>{{Street}}</label><br>-->