<header>
  <div class="container">
    <h1 id="logo">Customer Management Portal</h1>
    <nav>
      <ul>
        <li><a href="#"></a></li>
      </ul>
    </nav>
  </div>
</header>
<h2>Invoice Data</h2>
<div id="grid">
  <table class="table">
    <thead class="table__header">
      <tr class="table__row">
        <th class="table__cell1 ">Sales Doc_Number</th>
        <th class="table__cell1 ">Document Currency</th>
        <th class="table__cell1 ">Sales Organization</th>
        <th class="table__cell1 ">Pricing Procedure</th>
        <th class="table__cell1 ">Document Number</th>
        <th class="table__cell1 ">Ship Condition</th>
        <th class="table__cell1 ">Net Value</th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ppl of data" class="table__row">
        <td class="table__cell"><div class = "scroll" >{{ppl.VBELN}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.WAERK}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.VKORG}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.KALSM}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.KNUMV}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.VSBED}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.NETWR}}</div></td>
                    

      </tr>
    </tbody>
  </table>
</div>
<div class="back">
  <button class="bottom" (click)="goback()">Go Back</button>
</div>

<!--<div class="topContainer">
    <div class="container">
      <table>
       <thead>
        <tr>
          <th>SALES_DOC</th>
          <th>DOC_CURRENCY</th>
          <th>SALES_ORG</th>
          <th>COST_STRUCTURE</th>
          <th>DOC_NUM</th>
          
          <th>SHIP_CONDITION</th>
          <th>NET_VALUE</th>
         
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let ppl of data">
              <td>{{ppl.VBELN}}</td>
              <td>{{ppl.WAERK}}</td>
              <td>{{ppl.VKORG}}</td>
              <td>{{ppl.KALSM}}</td>
              <td>{{ppl.KNUMV}}</td>
              <td>{{ppl.VSBED}}</td>
              <td>{{ppl.NETWR}}</td>
              
              
            </tr>
      </tbody>
  
    </table>
  </div>-->




  
