
<header>
  <div class="container">
    <h1 id="logo">Customer Management Portal</h1>
    <nav>
      <ul>
        <li><a href="#"></a></li>
      </ul>
    </nav>
  </div>
</header>
<h2>SalesOrder Data</h2>
<div id="grid">
  <table class="table">
    <thead class="table__header">
      <tr class="table__row">
        <th class="table__cell1 ">Sales Document</th>
        <th class="table__cell1 ">Item Number</th>
        <th class="table__cell1 ">Material</th>
        <th class="table__cell1 ">Document Type</th>
        <th class="table__cell1 ">Document Date</th>
        <th class="table__cell1 ">Required Quantity</th>
        <th class="table__cell1 ">Required Date</th>
        <th class="table__cell1 ">Currency</th>
        <th class="table__cell1 ">Document Status</th>
        <th class="table__cell1 ">Sales Organization</th>
        <th class="table__cell1 ">Net Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ppl of data" class="table__row">
        <td class="table__cell"><div class = "scroll" >{{ppl.SD_DOC}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.ITM_NUMBER}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.MATERIAL}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.DOC_TYPE}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.DOC_DATE}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.REQ_QTY}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.REQ_DATE}}</div></td>
                    
        <td class="table__cell"><div class = "scroll" >{{ppl.CURRENCY}}</div></td>

        <td class="table__cell"><div class = "scroll" >{{ppl.DOC_STATUS}}</div></td>

        <td class="table__cell"><div class = "scroll" >{{ppl.SALES_ORG}}</div></td>

        <td class="table__cell"><div class = "scroll" >{{ppl.NET_VALUE}}</div></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="back">
  <button class="bottom" (click)="goback()">Go Back</button>
</div>

















<!--<div class="topContainer">
    <div class="container">
      <table>
       <thead>
        <tr>
          <th>SALES_DOC</th>
          <th>ITEM NUMBER</th>
          <th>MATERIAL</th>
          <th>DOCUMENT_TYPE</th>
          <th>DOCUMENT_DATE</th>
          <th>QUANTITY</th>
          <th>REQ_DATE</th>
          <th>CURRENCY</th>
          <th>SALES_ORG</th>
          <th>DOC_STATUS</th>
          <th>NET_VALUE</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let ppl of data">
              <td>{{ppl.SD_DOC}}</td>
              <td>{{ppl.ITM_NUMBER}}</td>
              <td>{{ppl.MATERIAL}}</td>
              <td>{{ppl.DOC_TYPE}}</td>
              <td>{{ppl.DOC_DATE}}</td>
              <td>{{ppl.REQ_QTY}}</td>
              <td>{{ppl.REQ_DATE}}</td>
              <td>{{ppl.CURRENCY}}</td>
              <td>{{ppl.SALES_ORG}}</td>
              <td>{{ppl.DOC_STATUS}}</td>
              <td>{{ppl.NET_VALUE}}</td>
              
            </tr>
      </tbody>
  
    </table>
  </div>-->
  